* {
   margin: 0;
   padding:0;
   box-sizing: border-box; 
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    /*background-image: -webkit-radial-gradient(purple,violet,white);*/
    /*background-image: url("https://github.com/MilenPG/DEV014-card-validation/blob/main/src/imgs/fondocherypupis.jpeg?raw=true");*/
    background-image: url("https://raw.githubusercontent.com/MilenPG/DEV014-card-validation/main/src/imgs/fondopupu.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    font-family: "Ultra", serif;
    font-size: 2rem;
    margin-top: 4%;
}

.intro {
    margin: 2% 4%;
    text-align: center;
    justify-content: center;
}



.suscribe {
    background-color: rgb(255, 255, 255, .6);
    color: #0E0E0E;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border: solid thin;
    border-radius: 20px;
    margin: 1.5% 20%;
    padding: 2%;
}

h2 {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 1.5%;
}

input, button {
    font-family: inherit;
    font-size: inherit;
    text-align: center;
    margin: 2% 6%;
    padding: 0.5%;
    border-radius: 10px;
    border-style: solid;
    color: white;
}
    
#donation {
    color:#0E0E0E;    
}


p {
    font-weight: bold;
}

.validation-btn {
    margin: 2% 30%;
    padding: 1%;
    border-radius: 20px;
    border-style: none;
    background-color: #8B3282;
    font-weight: bold;
}

.valid-card {
 color: #038C00;
 font-weight: bold;
}

.invalid-card {
    color: #B70000;
    font-weight: bold;
}

footer {
    font-size: 0.8rem;
    margin-top: 2%;
}